<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="https://i.pinimg.com/originals/81/f0/62/81f062f172416bf0b8e827bea32902cd.jpg"
  alt="afa" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>AFA</b></span><span class="w3-hide-small w3-text-light-grey"> Asociación del Fútbol Argentino</span></h1>
  </div>
</header>

<div class="w3-content w3-padding" style="max-width:1564px">
  <div class="w3-container w3-padding-32" id="sobre">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Sobre este sitio</h3>
    <p>Esta aplicación web fue desarrollada con fines prácticos para el curso de SysOne, academia Java.</p>
    <p>La misma fue realizada con spring boot y angular, detalle de tecnologías utilizadas:</p>
    <ul class="list-group">
      <li class="list-group-item list-group-item-dark"><b>Backend</b></li>
      <li class="list-group-item">Maven</li>
      <li class="list-group-item">Java v.8</li>
      <li class="list-group-item">Spring boot v.2.4.2</li>
      <li class="list-group-item list-group-item-dark"><b>Front</b></li>
      <li class="list-group-item">Angular</li>
    </ul>
  </div>
</div>


<div class="w3-content w3-padding" style="max-width:1564px">
  <div class="w3-container w3-padding-32" id="sobre">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Cómo desarrolle la app</h3>
    <p>Dividí el desarrollo en varias partes: al comienzo armé a estructura básica del proyecto para que cada
      ABM funcione correctamente. Y una vez que estuvo todo terminado, realice el desarrollo de los DTOs (inicialmente
      hechos dentro del controller pero los moví a la capa de servicios), la idea fue simular procesos de entrega
      en los que se iba incrementando la funcionalidad.
    </p>
    <p>Agregué la documentación, y una vez finalizados comencé con algunos flujos del front
    simplemente para avanzar un poco más con la app. Lista las tres tablas (Jugador, Equipo e Historia) y
    permite dar de alta jugadores</p>
  </div>
</div>
